body,html{
    margin:0px;
    padding:0px;
}

.main{
    float: right;
    width: 100%;
    height:100 vh;
    margin-left: 1%;
    margin-right:-10px;
    padding: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    -webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.3);margin-bottom: 15px;
    background-color: white;
}




/* Table Styles */
.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

label{
    margin-left: 1%;
    margin-right: 1%;
}

.parent{
    text-align: center;
    min-height: 15vh;
    margin-bottom: 5%;
}

.parent_mini{
    text-align: center;
    min-height: 15vh;
    margin-bottom: 5%;
}
.parent_mini_customers{
    text-align: center;
    min-height: 50vh;
    margin-bottom: 5%;
    padding-top: 30%;
}

.orders_res_mini{
    font-size: 120%;
    font-weight: bold;
}

.orders_res_head_mini{
    font-weight: lighter;
    font-size: 100%;
}

.orders_res{
    font-size: 120%;
    font-weight: bold;
}

.orders_res_head{
    font-weight: lighter;
    font-size: 100%;
}

.child2{
    border-top: 1px dashed #AAA;
}


.movable {
    min-height:60px;
    transition: background-color 3s ease;
    padding: 10px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);margin-bottom: 15px;
    font-size: 70%;
    margin-left:1%;
    margin-right:1%;
}
.movblue{
    background-color: #EEEEFF;
}
.highlights{
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 2%;
}
.status{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 9%;
}
.statusB{
    background-color: #0000FF;
}

.movred {
    background-color: #FFEEEE;
}
.movgreen{
    background-color: #EEFFEE;
}
.statusR{
    background-color: red;
}
.statusG{
    background-color: #00ff00;
}