body,html{
    margin:0px;
    padding:0px;
}
#waiting_branch, #preparing,  #ready{
    float: left;
    width: 19%;
    min-height:450px;
    margin: 1%;
    padding: 1%;
    padding-bottom:5%;
    background-color: white;
    text-align: left;
}

.movable {
    min-height:60px;
    transition: background-color 3s ease;
    padding: 10px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);margin-bottom: 15px;
    font-size: 70%;
}
.movred {
    background-color: #FFEEEE;
}
.movgreen{
    background-color: #EEFFEE;
}
.movblue{
    background-color: #EEEEFF;
}
.highlights{
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 2%;
}
td{
    text-align: center;
    margin-bottom: 5px;
}
th{
    margin-bottom:1%;
    text-align: center;
    margin-bottom: 5px;
}
.status{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 9%;
}
.statusR{
    background-color: red;
}
.statusG{
    background-color: #00ff00;
}
.statusB{
    background-color: #0000FF;
}
.result{
    float: right;
    width: 35%;
    height:100vh;
    margin-left: 1%;
    margin-right:-10px;
    padding: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    -webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.3);margin-bottom: 15px;
    background-color: white;
}

.customer{
    padding-top:5%; 
    margin-top:10%; 
    border-top:1px solid; 
    font-size:120%; 
    text-transform:uppercase; 
    font-weight:bold;
}