html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.content {
    text-align: center;
}

.title {
    font-size: 80px;
}
.title2 {
    text-align:left;
    font-size: 50px;
}
.innerTitle{
    margin-left: 50px;
    margin-right: 50px;
}

.m-b-md {
    margin-bottom: 30px;
}
.paymentErrors{
    text-align:center;
    color: red;
    font-size: 26px;
    margin-right: 15px;
    min-width: 100px;
    min-height: 200px;
}
.errorHead{
    text-align:center;
    font-weight:bold;
}
.amazonButton {
    min-width:20%;
    margin-top:2%;
    margin-left:50px;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color:#ffec64;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:30px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.amazonButton:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color:#ffab23;
}
.amazonButton:active {
    position:relative;
    top:1px;
}